*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color-user-color: #000000;
    --color-terminal: var(--color-user-color);
    --color-background: #223549;
    --color-background-light: #ffffff13;
    --color-background-dark: rgb(0, 0, 0);
    --color-highlight: #299c3c;
    --color-inactive: #8b8c8d;
    --color-overlay: #7272723a;
    --color-secondary: #d9d9d9;

    --text-color-main: rgba(255, 255, 255, 0.95);
    --text-color-secondary: rgba(201, 201, 201, 0.95);

    --text-size-s: 0.875rem;
    --text-size-base: 1rem;
    --text-size-lg: 1.25rem;

    --spce-xsm: 0.325rem;
    --spce-sm: 0.625rem;
    --spce-med: 1.0625rem;
    --spce-xmed: 1.5rem;
    --spce-lg: 1.875rem;
    --spce-xlg: 2rem;

    --spce-pad-base: 0.5rem;
    --pad-lg:4.5rem;
    --radius-med: 10px;
    --radius-sm: 3px;
    --blur-base: 3px;
    --border-base: 2px;

    --nav-height: 70px;
    --text-line-height:1.5;
}

.hidden.hidden{
    display: none;
}

.svg{
    height: 3rem;
}

.logo{
    height: 3rem;
}