@import '../../styles/inputForm.css';

body{
    overflow-x: hidden;
}

.contact-form__container{
    min-height: calc(100vh - var(--nav-height));
    max-width: 100vw;
    background-color: var(--color-background-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: var(--color-secondary) solid var(--border-base);
    border-bottom: var(--color-secondary) solid var(--border-base);
    padding-left: var(--spce-xlg);
    padding-right: var(--spce-xlg);
}


.contact-form{
    color: var(--text-color-secondary);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    animation: popup 1s ease;
}

.contact-form{
    min-height: calc(90vh - var(--nav-height));
    width: 90%;
}

.contact-form fieldset{
    border: var(--color-secondary) solid var(--border-base);
    border-radius: var(--radius-med);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--spce-xlg);
    gap: var(--spce-sm);
    font-size: var(--text-size-base);
}



#contact__message{
    caret-color: var(--color-highlight);
    padding: var(--spce-sm);
    border: none;
    background-color: var(--color-overlay);
    border-radius: var(--radius-med);
    color: var(--text-color-main);
    height: 100%;
    max-width: none;
    animation: rotate-in 1s ease;
    animation-fill-mode: forwards;
    outline: none;
}

.contact__message{
    color: var(--text-color-main);
    font-size: clamp(2rem, 5vw, 7rem);
    padding: var(--spce-med);
}